asgiref==3.12.1
certifi==2026.6.17
distlib==0.4.3
Django==6.0.7
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
filelock==3.31.1
packaging==26.2
pipenv==2026.6.2
platformdirs==4.10.1
psycopg2-binary==2.9.12
PyJWT==2.13.0
python-decouple==3.8
python-discovery==1.4.4
setuptools==83.0.0
sqlparse==0.5.5
virtualenv==21.6.1
